.wrapper {
    height: 100vh;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

header {
	height: 100x;
	background-image: url("/data/bgscreen.png");
	background-size: 100%;
	

}
footer {
    height: 100px;
	background-color: rgba(78,105,122,255);
	
}

main1 {
    flex: 1;
	background-image: url("/data/pexels-pixabay-273209.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}
.myNav {
	float: right;
	padding-right: 200px;
	padding-top: 30px;

}
.myNavf {
	padding: 20px;
}


.myNav .bg-light {
    background-color: transparent !important;
	
}

.bg-light {
	background-color: transparent !important;
	text-align: center;
	justify-content: center !important;
	font-size: 18px;
}

.navbar-nav.navbar-center {
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	padding-top: 0px;
	
}

.tel {
	position: fixed;
	padding-left: 293px;
	padding-top: 50px;
	font-size: larger;

}

.myindexrow {
	height: 80px;
}

.myindexrow2 {
	height: 80px;
}


p {
	font-size: large;
	font-style: italic;
}

.custom {
	width: 200px !important;
}

.jumbotron {
	background-image: url("img/background-images/pic2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#logo-text {
	border: 5px solid;
	border-radius: 25px;
	padding: 10px 30px 10px 30px;
	color: rgb(107, 105, 105);
	background-color: white;
	cursor: pointer;
}
#logo-subtext {
	color: white;
	font-weight: bolder;
	text-shadow: black 2px 2px 4px;
	cursor: pointer;
  }
  



details {
	text-align: center;
	height: 100px;
	padding-top: 20px;
}

main2 {
	flex: 1;
}

.myrow3 {
	height: 350px;

	
}

.myrow4 {
	height: 100px;
}

.myrow5 {
	height: 40px;
}

.myrow6 {
	height: 100px;
}

table   {
	border:1px solid black;
  }


main3 {
	flex: 1;
}


.Immobilie{
	text-align: center;
}
main4 {
	flex: 1;
}

main5 {
	flex: 1;
}

main6 {
	flex: 1;
}

main7 {
	flex: 1;
}

main8 {
	flex:8
}

main9 {
	flex:9
}

main10 {
	flex:1
}

main11 {
	flex: 1;
}



h2 {
	text-align: center;
}	


